/* ==========================================================================
   globals
   ========================================================================== */
:root {
  --primary-green-color: #344534;
  --primary-red-color: #740710;
  --bg-light: #F9F9F9;
  --container-width: 55%;
  --body-font: 'Inter', sans-serif;
  --heading-font: 'Fraunces', serif;
  --testing-color: #ffffff;
  --text-main: #1A1A1A;
  --text-muted: #666666;
}

* {
  box-sizing: border-box; /* prevents padding from breaking layout */
}

body {
  font-family: var(--body-font);
  background-color: var(--bg-light);
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-main);
}

/* ==========================================================================
   layout containers
   ========================================================================== */
.container {
  max-width: var(--container-width);
  margin: auto;
  /*background-color: var(--testing-color);*/
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 2% auto 0; /* Top, Right/Left, Bottom */
  grid-auto-flow: dense;
}

.grid .grid-item {
  width: 100%;
}

/* ==========================================================================
  nav bar
   ========================================================================== */
.navbar-outer {
  max-width: var(--container-width);
  margin: auto;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;   
  padding-top: 20px;         
}

.nav-item {
  display: flex;
  height: 9vw;
  min-height: 80px;   
  max-height: 200px;  
}

.nav-image-comic, 
.nav-image-logo {
  height: 100%;
  width: auto;
  max-width: 100%;
}

/* ==========================================================================
   hero
   ========================================================================== */

.hero-outer{
  grid-column: span 3;
  display: flex;
  align-items: stretch; /*akes both sides (text and image) the same height*/
  justify-content: space-between; /*push text to left, image to right*/
  gap: 5%;
  margin-top: 4%;
}

.hero-left {
  flex: 2; /*tale up remaining spcae*/
  display: flex;
  align-items: center; /* Centers the text vertically within that height */
}

.hero-outer .overflow-img {
  flex: 1; /* takes up 1 part of space */
  max-width: 30%; /* limits how big it can get on huge screens */
  aspect-ratio: 1 / 1; /* keeps it square */
}

.hero-outer .img-fluid {
  width: 100%;
  height: 100%; /* forces it to fill the height of .overflow-img */
  object-fit: cover;
}


/* ==========================================================================
  normal blog card component
   ========================================================================== */
.card {
  background-color: var(--testing-color);
  overflow: hidden;
}

.overflow-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden; 
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s ease-in-out;
}

/* Card Hover States */
.card:hover .img-fluid{
  transform: scale(1.1);
}

.blog {
  margin-bottom: 3em;
}
.blog > a {
    text-decoration: none; 
    color: inherit;
}

/* ==========================================================================
  featured blog componetnt
   ========================================================================== */

.featured-item {
  grid-column: span 2;
  width: 100%;
}

.overflow-img-featured {
  width: 100%;
  aspect-ratio: 1 / .485;
  border-radius: 10px;
  overflow: hidden; 
}

.img-featured{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s ease-in-out;
}

.card:hover .img-featured {
  transform: scale(1.1);
}
/* ==========================================================================
   blog post
   ========================================================================== */
.blog-post-inner {
  display: flex;
  width: 100%;   
  height: 350px;
  padding-top: 20px; 
  overflow: hidden;  
  border-radius: 8px;     
}
.blog-banner-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #dbdbdb; 

}

.blog-header {
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 1rem;
}

.blog-meta {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between; 
}

.blog-content-text {
    font-size: 1.15rem;
    line-height: 1.8;
    white-space: pre-wrap; 
    margin-bottom: 5rem;
}


/* ==========================================================================
   5. TYPOGRAPsHY & TEXT UTILITIES
   ========================================================================== */

   
h1 {
  color: var(--text-main); /* darker color by default */
  font-family: var(--heading-font);
  font-weight: 700; 
  font-size: 2.5rem;
  
}
    
h2, h3 {
  font-family: var(--heading-font);
}
.text-title {
  color: var(--primary-red-color);
  font-family: var(--heading-font);
  text-decoration: none; 
}

.text-time {
  color: var(--text-muted); 
}

.text-center {
  text-align: center;
}

.text-muted {
  color: var(--text-muted); 
  font-weight: 400; 
}

/* Font Scales */
.display-1 { font-size: 22px; }
.display-2 { font-size: 16px; }
.display-3 { font-size: 14px; }


/* I SAMPLED THIS BUITTON FROM ONLINE*/

/* CSS */
.button-74 {
  margin-top: 10px;
  background-color: var(--bg-light);
  border: 2px solid var(--primary-green-color);
  border-radius: 10%;
  box-shadow: var(--primary-green-color) 4px 4px 0 0;
  color: var(--primary-green-color);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: normal;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: var(--primary-green-color) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}